---
import "../../scss/graph/Graph.scss"

---

<section id="graph-boxes">
    <canvas class="plane-canvas" id="plane-canvas"></canvas>
    <canvas class="main-canvas" id="main-canvas"></canvas>


    <!-- centre text: main -->
    <div class="center-text" >
      <span>K</span><span>U</span><span>S</span><span>H</span><span>A</span><span>L</span>
    </div>


    <!-- footer -->
    <div class="plate">
       <h2 class="text-animation" data-js="text">FULL STACK SOFTWARE DEVELOPER</h2>
       <p class="text-animation" data-js="text">VARANASI, INDIA</p>
    </div>
</section>

<script src="../../js/graph/graph"></script>