---
import "../../scss/graph/Graph.scss"

---

<section id="graph-boxes">
    <canvas class="plane-canvas" id="plane-canvas"></canvas>
    <canvas class="main-canvas" id="main-canvas"></canvas>


    <!-- centre text: main -->
    <div class="center-text" >
      <span>K</span><span>U</span><span>S</span><span>H</span><span>A</span><span>L</span>
    </div>


    <!-- social links -->
    <div class="social-links">
      <a href="#" class="text-animation" data-js="text">GITHUB</a>
      <a href="#" class="text-animation" data-js="text">LINKEDIN</a>
      <a href="#" class="text-animation" data-js="text">INSTAGRAM</a>
      <a href="#" class="text-animation" data-js="text">DISCORD</a>
      <a href="#" class="text-animation" data-js="text">INSTAGRAM</a>
    </div>

    <!-- website links -->
    <div class="website-links">
      <a href="#" class="text-animation" data-js="text">PORTFOLIO</a>
      <a href="#" class="text-animation" data-js="text">OFFICIAL</a>
      <a href="#" class="text-animation" data-js="text">BLOGS</a>
      <!-- <a href="#"><span>S</span><span>E</span><span>R</span><span>V</span><span>I</span><span>C</span><span>E</span><span>S</span></a> -->
    </div>

    
    <!-- personal links -->
    <div class="personal-links">      
      <a href="#" class="text-animation" data-js="text">EMAIL</a>
      <a href="#" class="text-animation" data-js="text">PHONE</a>
    </div>


    <!-- footer -->
    <div class="plate">
       <h2 class="text-animation" data-js="text">FULL STACK SOFTWARE DEVELOPER</h2>
       <p class="text-animation" data-js="text">VARANASI, INDIA</p>
    </div>
</section>

<script src="../../js/graph/graph"></script>